/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #181818;
  color: #fff;
  overflow-x: hidden;
}

.youtube-container {
  width: 100%;
}

/* Main Container */
.main-container {
  display: flex;
  margin-top: 56px;
}

.main-content {
  flex: 1;
  margin-left: 240px;
  padding: 24px 24px 0 24px;
  overflow-y: auto;
}
